.ajax-loading {
  display: none;
}
.ajax-loading .loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0,40px;
  height: 80px;
  line-height: 80px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 6px;
  text-align: center;
  z-index: 9999;
  font-size: 16px;
  color: #fff;
}
.ajax-loading .loading img {
  width: 32px;
  vertical-align: middle;
}
.ajax-loading .loading span {
  margin-left: 12px;
  margin-right: 12px;
}
.ajax-loading .overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9998;
  background: #ffffff;
  opacity: 0.1;
}
ul,
li {
  list-style-type: none;
}
.clearfix::after {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
}
body {
  background: #f1f3f5;
  font-family: "Helvetica Neue For Number", "PingFang SC Light";
}
.container .nav-left {
  color: #fff;
  height: calc(100vh);
  background-color: #001529;
}
.container .main {
  height: calc(100vh);
  background-color: #f1f3f5;
  overflow: auto;
}
.container .content {
  position: relative;
  padding: 20px;
}
.content-wrap {
  background: white;
  border: 1px solid #e8e8e8;
  margin-top: -3px;
}
.content-wrap .ant-table-wraper {
  margin-left: -1px;
  margin-right: -2px;
}
.operate-wrap button {
  margin-right: 10px;
}
